<% render 'default' do %>
    <div class="project" style="text-align: center;">
        <a class="nounderline" href="<%= item.path %>"><img src="<%= icon(item) %>" srcset="<%= highres_icon(item) %> 2x" class="center"></a>
        <h1 style="width:100%; text-align:center"><%= link_to item[:title], item.path %></h1>
        <div id="projectbuttons" style="display: inline-block; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px">
            <% if item[:download] then %>
                <%= link_to "<div class=\"projectbutton\" style=\"margin: 10px; display: table; width:200px; height:50px; background-color:#EEE; text-align:center\"><i class=\"fa fa-download\" style=\"display: table-cell; vertical-align: middle; color: #193500;\"><span style=\"font-size: 17px; font-weight: bold; margin-left: 10px; color: #193500;\">Download</span></i></div>", item[:download] %>
            <% end %>
            <% if item[:github] then %>
                <%= link_to "<div class=\"projectbutton\" style=\"margin: 10px; display: table; width:200px; height:50px; background-color:#EEE; text-align:center\"><i class=\"fa fa-github\" style=\"display: table-cell; vertical-align: middle; color: #193500;\"><span style=\"font-size: 17px; font-weight: bold; margin-left: 10px; color: #193500;\">GitHub</span></i></div>", item[:github] %>
            <% end %>
            <% if item[:appstore] then %>
                <a href="<%= item[:appstore]%>">
                    <img class="center" src="/images/appstore.svg" alt="Download on the Mac App Store" />
                </a>
            <% end %>
            <div style="clear: both;"></div>
        </div>
        <article style="text-align: left;">
        <%= yield %>
        </article>
        <br>
    </div>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "<%= item[:title] %>",
  "applicationCategory": "http://schema.org/UtilitiesApplication"
  <% if item[:download] then %>
  ,"downloadURL": "<%= item[:download] %>"
  <% end %>
}
</script>
<% end %>
